@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/usuarios/nuevo" method="post">
    <div>
        Nombre: <input type="text" name="Nombre" />
        AvatarURL: <input type="text" name="AvatarURL" />
        Email: <input type="text" name="Email" />
        Puntos: <input type="text" name="Puntos" />


    </div>
    <input type="submit" value="Guardar" />
</form>